body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.main {
    position: relative;
    width: 1920px;
    height: 1286px;

    background: #48494B;
}

header {
    position: absolute;
    width: 1920px;
    height: 100px;
    left: 0px;
    top: 0px;
    z-index: 1;

    background: #B1B1B1;
}

h1 {
    position: absolute;
    width: 184px;
    height: 78px;
    left: 52px;
    margin-top: 12px;

    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 300;
    font-size: 64px;
    line-height: 78px;

    color: #8B0000;
}

ul {
    list-style-type: none;
    display: flex;
    margin-top: 10px;
}

.text-upper-works {
    position: absolute;
    width: 290px;
    height: 49px;
    left: 335px;
    top: 29px;

    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 300;
    font-size: 40px;
    line-height: 49px;

    color: #000000;
}

.text-upper-price {
    position: absolute;
    width: 139px;
    height: 49px;
    left: 742px;
    top: 29px;

    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 300;
    font-size: 40px;
    line-height: 49px;

    color: #000000;
}

.text-upper-advantages {
    position: absolute;
    width: 321px;
    height: 49px;
    left: 996px;
    top: 29px;

    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 300;
    font-size: 40px;
    line-height: 49px;

    color: #000000;
}

.text-upper-record {
    position: absolute;
    width: 152px;
    height: 49px;
    left: 1433px;
    top: 29px;

    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 300;
    font-size: 40px;
    line-height: 49px;

    color: #000000;
}

.telegram {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 1680px;
    top: 28px;
}

.instagram {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 1749px;
    top: 28px;
}

.whatsapp {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 1818px;
    top: 28px;
}

.information {
    position: absolute;
    width: 1920px;
    height: 980px;
    left: 0px;
    top: 100px;

    background: #48494B;

}

.information img {
    position: absolute;
    width: 777px;
    height: 1046px;
    left: -71px;
    margin-top: 14px;
    z-index: 0;
}

.text p {
    position: absolute;
    width: 955px;
    height: 73px;
    left: 408px;
    top: 323px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 73px;

    color: #FFFFFF;
}

.text p1 {
    position: absolute;
    width: 680px;
    height: 73px;
    left: 627px;
    top: 470px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 73px;

    color: #FFFFFF;
}

.application {
    position: absolute;
    width: 438px;
    height: 652px;
    left: 1350px;
    top: 225px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    background: #FFFFFF;
    border-radius: 51px;
}

.application h2 {
    position: absolute;
    width: 288px;
    height: 41px;
    left: 20px;
    top: -5px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400; 
    font-size: 32px;
    line-height: 39px;

    color: #000000;
}

.application p {
    position: absolute;
    width: 350px;
    height: 71px;
    left: 20px;
    top: 50px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: justify;

    color: #000000;
}

.inpreg{
    width: 375px;
    height: 42px;
    margin: 20px;
    background: #EAEAEA;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #787474;
}


#master {
    position: absolute;
    width: 375px;
    height: 42px;
    left: 20px;
    top: 445px;
    background: #EAEAEA;
}

input[type="submit"] {
    position: absolute;
    width: 256px;
    height: 43px;
    left: 90px;
    top: 520px;
    background: #000000;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.application_sent {
/* Rectangle 35 */

position: absolute;
width: 475px;
height: 224px;
left: 1305px;
top: 391px;

background: #FFFFFF;
border-radius: 40px;

}

.application_sent h2 {
position: absolute;
width: 321px;
height: 39px;
left: 100px;
top: -10px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 39px;

color: #000000;
}

.application_sent p {
position: absolute;
width: 240px;
height: 105px;
left: 120px;
top: 65px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 29px;
text-align: center ;

color: #000000;
}

.hidden {
    display: none;
}


d{
position: absolute;
width: 314px;
height: 24px;
left: 60px;
top: 660px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;
}


d1{
position: absolute;
width: 314px;
height: 24px;
left: 60px;
top: 230px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;


}
.footer {
    position: absolute;
    width: 1920px;
    height: 206px;
    top: 1160px;

    background: #B1B1B1;
}

.footer h1 {
    position: absolute;
    width: 173px;
    height: 73px;

    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 300;
    font-size: 60px;
    line-height: 73px;

    color: #8B0000;
}

.footer p {
    position: absolute;
    width: 550px;
    height: 85px;
    left: 50px;

    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
    line-height: 17px;
    margin-top: 90px;
    text-align: justify;

    color: #000000;
}

.footer iframe {
    position: absolute;
    width: 788px;
    height: 116px;
    left: 670px;
    margin-top: 50px;
}

.footer .telegram_f {
    position: absolute;
    width: 50px;
    height: 50px;
    margin-top: 10px;
    left: 1650px;
}

.footer .instagram_f {
    position: absolute;
    width: 50px;
    height: 50px;
    margin-top: 71px;
    left: 1650px;
}

.footer .whatsapp_f {
    position: absolute;
    width: 50px;
    height: 50px;
    margin-top: 130px;
    left: 1650px;
}

.telegram_t {
    position: absolute;
    width: 200px;
    height: 20px;
    margin-left: 1690px;
    margin-top: 20px;

    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;

    color: #000000;
}

.instagram_t {
    position: absolute;
    width: 150px;
    height: 20px;
    margin-left: 1690px;
    margin-top: 85px;


    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;

    color: #000000;
}

.whatsapp_t {
    position: absolute;
    width: 200px;
    height: 20px;
    margin-left: 1695px;
    margin-top: 143px;


    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;

    color: #000000;
}